<ion-header>
  <ion-toolbar color="qehbo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Instellingen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Leermethode</h2>
  <ion-item>
    <ion-label position="stacked">Maximum aantal vragen per sessie</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="maxRevisions"
      max="{{maxRevisionsMaxValue}}"
      min="{{maxRevisionsMinValue}}"
      (ionBlur)="updateMaxRevisions($event)"
    >
    </ion-input>
  </ion-item>

  <h2 padding-top>Data reset</h2>
    <ion-button color="danger" expand="block" (click)="removeAllData()">
      Wis mijn data
    </ion-button>
</ion-content>
