<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Over deze app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Makkelijk maar effectief je EHBO kennis toetsen en oefenen? Dat is waar deze app voor bedoeld is. De vragen in deze app kunnen je helpen de uit het boek en de praktijk geleerde kennis te verstevigen en op een toegankelijke manier te oefenen. Dit is dus geen vervanging voor traditioneel lesmateriaal en lessen, die heb je alsnog nodig!
  </p>

  <p>
    Overal waar 'hij'/'zijn' staat kan ook 'zij'/'haar' gelezen worden.
  </p>

  <p>
    Copyright © 2019
    <a href="#" onclick="window.open('https://gandreadis.com', '_system', 'location=yes'); return false;">
      Georgios Andreadis
    </a>
  </p>
</ion-content>
