<ion-header>
  <ion-toolbar color="qehbo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Over deze app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Makkelijk maar effectief je EHBO kennis toetsen en oefenen? Daarvoor is deze app bedoeld. De vragen in deze app kunnen je helpen de uit het boek en de praktijk geleerde kennis te verstevigen en op een toegankelijke manier te oefenen. Het beste werkt deze app als je het vaak gebruikt en het in je dagelijkse routine meeneemt. Als je een vraag goed hebt beantwoord, komt die pas na minimaal een dag weer terug. Vragen die jij lastig vindt worden automatisch vaker gesteld, net zo lang totdat je ze beheerst!
  </p>

  <h2>Waar deze app niet voor is bedoeld</h2>
  <p>
    Deze app is geen vervanging voor traditioneel lesmateriaal en lessen. Die heb je alsnog nodig! Deze app is ook niet bedoeld als informatiebron om te raadplegen bij het verlenen van eerste hulp. Hiervoor kun je beter de EHBO-app van het Rode Kruis raadplegen. De auteur aanvaard geen aansprakelijkheid voor de correctheid van de vragen en het antwoordenmodel. Raadpleeg bij twijfel altijd het cursusboek of vraag je instructeur!
  </p>

  <h2>Over de vragen</h2>
  <p>
    Deze app laat je met multiple-choice vragen de EHBO stof op een interactieve manier oefenen. Hiervoor zijn er 2 of meer antwoorden per vraag, waarvan steeds maar één correct is! Als je denkt dat er meerdere antwoorden mogelijk zijn, kies dan de meest geschikte. Nog steeds niet eens met een vraag of het antwoordenmodel? Neem contact op ons op.
  </p>
  <p>
    Overal waar 'hij'/'zijn' staat kan ook 'zij'/'haar' gelezen worden.
  </p>

  <h2>Jouw data</h2>
  <p>
    Deze app werkt volledig offline. Geen data over je leervoortgang verlaat de app, tenzij jij deze expliciet met anderen deelt.
  </p>

  <p>
    Copyright © 2019
    <a href="#" onclick="window.open('https://gandreadis.com', '_system', 'location=yes'); return false;">
      Georgios Andreadis
    </a>
  </p>
</ion-content>
