<ion-header>
  <ion-toolbar color="qehbo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      qEHBO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title style="position: relative">
        <ion-icon name="information-circle" style="position: absolute; top: 0; right: 0"></ion-icon>
        Waarschuwing
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Deze app vervangt geen EHBO cursus of cursusmateriaal, en is niet geschikt om tijdens de hulpverlening te raadplegen.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let category of categories">
    <ion-card-header>
      <ion-card-title style="position: relative; padding-right: 70px">
        <span>{{category.title}}</span>
        <app-box-stars [category]="category.id" float-end style="position: absolute; top: 2px; right: 0;"></app-box-stars>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" [disabled]="!categoriesAreActive[category.id]" [routerLink]="['/question/', category.id]">
        {{categoriesAreActive[category.id] ? 'Oefenen' : 'Geen vragen beschikbaar'}}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
