<ion-header>
  <ion-toolbar color="qehbo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Oefenen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="question">
    <ion-progress-bar
      style="position: absolute; left: 0; right: 0; top: 0;"
      value="{{spacedRepetitionService.numRevisionsInCurrentSession.getValue() / maxRevisions}}" float-start>
    </ion-progress-bar>

    <h2>{{question.text}}</h2>

    <div class="to-bottom">
      <div *ngIf="question.type === 'multiple-choice'" padding>
        <ion-button
          fill="{{answer.id === selectedAnswer ? 'solid' : 'outline'}}"
          color="{{submitted ? (answer.id === question.correctAnswerIndex ? 'success' : (answer.id !== selectedAnswer ? 'medium' : 'danger')) : 'primary'}}"
          expand="block"
          text-wrap
          class="answer-button"
          *ngFor="let answer of question.answers"
          (click)="selectMultipleChoiceAnswer(answer.id)"
        >
          <span padding>{{answer.text}}</span>
        </ion-button>
      </div>

      <div *ngIf="question.type === 'true-false'" padding>
        <ion-row>
          <ion-col *ngFor="let answer of question.answers">
            <ion-button
              fill="{{answer.id === selectedAnswer ? 'solid' : 'outline'}}"
              color="{{submitted ? (answer.id === (question.isTrue ? 0 : 1) ? 'success' : (answer.id !== selectedAnswer ? 'medium' : 'danger')) : 'primary'}}"
              expand="block"
              size="large"
              (click)="selectTrueFalseAnswer(answer.id)"
            >
              {{answer.text}}
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="question.type === 'order'" padding>
        <ion-list dragula="ANSWERS" [(dragulaModel)]="question.answers">
          <ion-button
            fill="{{submitted ? 'solid' : 'outline'}}"
            color="{{submitted ? 'medium' : 'primary'}}"
            expand="block"
            text-wrap
            class="answer-button"
            *ngFor="let answer of question.answers"
          >
            <span padding>{{answer.text}}</span>
          </ion-button>
        </ion-list>

        <ion-button
          color="{{submitted ? 'light' : 'primary'}}"
          expand="block"
          disabled="{{submitted}}"
          (click)="submitOrder()"
        >
          Volgorde checken
        </ion-button>
      </div>

      <div text-center>
        <ion-chip
          color="{{answerCorrect ? 'success' : 'danger'}}"
          [style.visibility]="submitted ? 'visible' : 'hidden'"
        >
          <span *ngIf="answerCorrect">
            <ion-icon name="checkmark-circle"></ion-icon>
            Goed zo!
          </span>
          <span *ngIf="!answerCorrect">
            <ion-icon name="close-circle"></ion-icon>
            Jammer, volgende keer beter!
          </span>
        </ion-chip>
      </div>

      <div padding>
        <ion-button
          color="{{!submitted ? 'light' : 'primary'}}"
          expand="block"
          disabled="{{!submitted}}"
          (click)="nextQuestion()"
        >
          Volgende vraag
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="endScreen" text-center>
    <h1>Klaar! 😄</h1>
    <ion-button [routerLink]="'/home'">
      Terug naar het overzicht
    </ion-button>
  </div>
</ion-content>
